## Model Save and Load.

In [1]:
from hyperts import make_experiment
from hyperts.datasets import load_network_traffic
from hyperts.toolbox import temporal_train_test_split

### Load dataset.

In [2]:
df = load_network_traffic(univariate=True)

train_data, test_data = temporal_train_test_split(df, test_horizon=168)

### Run experiment and return pipeline model.

In [3]:
exp = make_experiment(train_data.copy(),
                      mode='dl',
                      task='forecast',
                      timestamp='TimeStamp',
                      covariates=['HourSin', 'WeekCos', 'CBWD'],
                      max_trials=5,
                      random_state=2022)

model = exp.run(epochs=1, final_train_epochs=1)

### Evaluation

In [4]:
X_test, y_test = model.split_X_y(test_data.copy())

y_pred = model.predict(X_test)

scores = model.evaluate(y_test, y_pred)

scores

  Metirc  Score
0    mae 1.7428
1    mse 6.5817
2   rmse 2.5655
3   mape 1.0566
4  smape 0.5651

### Save model

method 1:

In [5]:
model.save(model_file="./xxx/xxx/models")

method 2:

In [6]:
from hyperts.utils.models import save_model

save_model(model=model, model_file="./xxx/xxx/models")

### Load model

In [7]:
from hyperts.utils.models import load_model

In [8]:
pipeline_model = load_model(model_file="./xxx/xxx/models/dl_models")

In [9]:
X_test, y_test = pipeline_model.split_X_y(test_data.copy())

y_pred = pipeline_model.predict(X_test)

scores = pipeline_model.evaluate(y_test, y_pred)

scores

  Metirc  Score
0    mae 1.7428
1    mse 6.5817
2   rmse 2.5655
3   mape 1.0566
4  smape 0.5651